@model IEnumerable<BikeServiceWebApp.Models.Booking>

@{
    ViewData["Title"] = "MyBookings";
}

<div class="container">

    <div class="text-center">
        <h1 class="my-font display-4">My Bookings</h1>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12 mb-3">
                <div class="card w-100 shadow col-md-12">
                    <div class="card-body">
                        <h5 class="card-text text-center font-weight-bold">
                            @item.Package.PackageName for (@item.BikeModel.BikeModelName)
                        </h5>
                        <p class="text-center font-weight-bold">Booking Date: @item.BookingDate</p>
                        <p class="text-center font-weight-bold">Status: @item.Status</p>
                        <ul class="list-inline">
                            @if (!item.Package.Warrnty.Equals("None"))
                            {
                                <li>@item.Package.Warrnty</li>
                            }
                            @if (!item.Package.NextService.Equals("None"))
                            {
                                <li>@item.Package.NextService</li>
                            }
                        </ul>
                        <h5>Services Covered</h5>
                        <ul>
                            @foreach (var service in item.Package.Services.Split(","))
                            {
                                <li>@service</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>